<h1>El Camino Index</h1>

<p>You tiped login: <%= @login %> </p>
<p>You tiped password: <%= @password %> </p>
<p><%= @acces_denied %></p>

<form  action="/" method="POST">

  <input type="text" name="aaa" />
  <input type="password" name="bbb" />
  <input type="submit" />


</form>
